<%-include('./partials/header.ejs')%>
        <br><br>
        <form method="GET" action="/ingredient">
            <input type="text" name="keyword" placeholder="Search ingredient here..">
            <input type="submit" value="search">
        </form>

        <% if(ingredients !== ''){ %>
            <table>
                <% for(let i = 0; i<ingredients.length; i++){ %>
                    <tr>
                        <td><%= ingredients[i].name %></td>
                        <td>
                            <form method="POST" action="/ingredient/<%= userId %>/add/<%= ingredients[i].id%>" style="margin: 0">
                                <input type="submit" value="Add to my ingredient">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        <% } %>

        <br><br>
        <table>
            <thead>
                <tr>
                   <td>My Ingredient</td>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<userIngredients.length; i++){ %>
                    <tr>
                        <td><%= userIngredients[i].Ingredient.name %></td>
                        <td>
                            <form method="POST" action="/ingredient/delete/<%= userIngredients[i].Ingredient.id%>" style="margin: 0">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
<%-include('./partials/footer.ejs')%>
