<%-include('./partials/header.ejs')%>

<html>
    <head>

    </head>
    <body>

        <form>
            
        </form>
        <% let count = [];%>
        <% for(let i = 0; i<recipe.length; i++){ %>
           <% if(!count.includes(recipe[i].RecipeId)){ %>
                <ul style="background: lightblue"> 
                    <p style="font-weight: 600; margin: 0"><%= recipe[i].Recipe.name %></p>
                    Ingredient:<br>
                    <% for(let j = 0; j<recipe[i].Recipe.Ingredients.length; j++){ %>
                        <li> <%= recipe[i].Recipe.Ingredients[j].name %> </li>
                    <% } %>
                    <h4>Instructions</h4>
                    <h5><% helper.instructionsAdjuster(recipe[i].Recipe.instruction).forEach(instruction => {%>
                        <li><%=instruction%></li>
                    <%})%></h5>
                    <a href="/"><button>Cook</button></a>
                </ul> 
                <% count.push(recipe[i].RecipeId) %>
            <% } %>
        <% } %>
<%-include('./partials/header.ejs')%>