<%-include('./partials/header.ejs')%>

<div>
    <h1>Register</h1>
    <form method="post">
        <table>
            <tr>
                <th>First Name</th>
                <th>:</th>
                <th><input type="text" name="firstName" value="<%=data.firstName%>"></th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th>:</th>
                <th><input type="text" name="lastName" value="<%=data.lastName%>"></th>
            </tr>
            <tr>
                <th>Email</th>
                <th>:</th>
                <th><input type="text" name="email" value="<%=data.email%>"></th>
            </tr>
            <tr>
                <th>Password</th>
                <th>:</th>
                <th><input type="password" name="password"></th>
            </tr>
            <tr>
                <th><input type="submit" value="Register"></th>
            </tr>
        </table>
    </form>
</div>

<div>
    <table><tr><th style="color:red"><%=err%></th></tr></table>
</div>

<%-include('./partials/footer.ejs')%>