<%-include('./partials/header.ejs')%>


<div>
    <h2>Welcome <%=user.firstName%></h2>
</div>


<div>
    <table>
        <tr>
            <th><h4>Name</h4></th>
            <th><h4>:</h4></th>
            <th><h4><%=user.fullName()%></h4></th>
        </tr>
        <tr>
            <th><h4>Email</h4></th>
            <th><h4>:</h4></th>
            <th><h4><%=user.email%></h4></th>
        </tr>
    </table>
    <table>
        <tr>
            <th><button onclick="location.href ='/user/edit'">Edit Account</button></th>
            <th><a href="/user/delete"><button onclick="return confirm(`Are you sure to delete this account, Delete cannot be undone!`)">Delete</button></a></th>
        </tr>
    </table>
</div>

<%-include('./partials/footer.ejs')%>